
<html>
<body>
<br>
<a href="{% url 'menú_infantil' %}"> menú_infantil</a>
<br>
<a href="{% url 'receta_facil' %}"> receta_facil</a>
<br>
<a href="{% url 'mafe' %}"> mafe</a>
<br>
<a href="{% url 'feijoada' %}"> feijoada</a>
<br>
<a href="{% url 'pizza' %}"> pizza</a>
<br>
<a href="{% url 'canelones' %}"> canelones</a>
<br>

<a href="{% url 'flor_de_calabacin' %}"> flor_de_calabacin</a>
<br>
<a href="{% url 'gazpacho' %}"> gazpacho</a>
<br>
<a href="{% url 'sopa_de_noodles' %}"> sopa_de_Noodles</a>
<br>
<a href="{% url 'ensaladilla_rusa' %}"> ensaladilla_rusa</a>
<br>
<a href="{% url 'carbonara' %}"> carbonara</a>
# Carbonara es la Sub pagina
<br>
<p> Menus_Recetas_Comidas_para Gordos
    {{ numero_favorito }}
</p>
</body>
</html>
